
@mixin center-wrapper($justify: center, $align: center, $direction: row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}


@mixin grid-wrapper($gap: 30px, $columns: 2, $rowGap: 0, $columnGap: 0) {
    display: grid;
    gap: $gap;
    place-items: center;
    grid-template-columns: repeat($columns, 1fr);

    @if $rowGap != 0 {
        row-gap: $rowGap;
    }

    @if $columnGap != 0 {
        column-gap: $columnGap;
    }

    @media screen and (max-width: 768px){
        grid-template-columns: repeat(1, 1fr);
    }
}

@mixin media-breakpoint-down($breakpoint) {
    @media (max-width: $breakpoint ) {
        @content;
    }
}